header {
	height: 200px;
	background-position:top; 
}

nav {  
	top: 200px; 
}

nav a { 
	margin-right: 20px; 
}

.img_container {

	img {

	width: 49.2%;
	margin: 0.25% 0.25% 0.25% 0.25%;
	//vertical-align: top;
	float: left;

	}
}