header {
	height: 75px;
	background: url(../images/banner_small.jpg) no-repeat center 0px;

}

h1 {

	font-size: 1.5em;
	font-weight: bold;
}

article { 
	padding: 20px 20px 10px 20px; 
}

nav {
	//display: block;
	position: static;
	padding: 10px 0px 10px 0px;
}

nav a {
	display: block;
	margin: 15px;
	padding: 9px;
	border: 1px solid;
	border-radius: 12px;
}

.img_container {
	
	img {

	display: none;

	}
}

footer { 
	font-size: .85em; 
	color: #f5a06e;
	background-color: #a6430a; 
	padding: 5px 5px 5px 20px;
	clear: left;
	border-top: 1px solid;

}
