body {
	margin: 0px; 
	padding: 0px;
	line-height: 1.5em;
	font-family: Arial;
	font-size: 14px;
	background: url(../images/background_03.jpg) 0px 0px;
}

.page {
	max-width: 980px;
	margin: 0px auto;
	position: relative; 
	background-color: #fff;
}

header { 
	height: 275px;
	background: url(../images/banner.jpg) no-repeat right 0px; 
}

h1 { 
	color: #a6430a; 
	margin: 0em 0em .5em 0em; 
	font-size: 2em; 
	font-weight: 
	normal; 
}

nav {
	width: 100%;
	display: block;
	position: absolute;
	background-color: #a6430a;
}

nav a {
	color: #f5a06e;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	font-size: .9em;
	margin: 12px 0px 10px 20px;
}

nav a:hover { 
	color: #fff; 
}

article { 
	padding: 80px 20px 10px 20px; 
}

.img_container {
	padding: 30px 20px 10px 20px;

	img {

	width: 310px;

	}
}


p { 
	margin: 0px 0px .75em 0px; 
}

footer { 
	font-size: .85em; 
	color: #555; 
	padding: 10px 10px 10px 20px; 
}

