*{
	padding: 0;
	margin: 0;
}

body {
	margin: 0px; 
	padding: 0px;
	line-height: 1.5em;
	font-family: Arial;
	font-size: 14px;
}

.page {
	max-width: 960px;
	margin: 0 auto;
	padding: 20px;
	position: relative; 
	background-color: rgba(255, 255, 255, 0.9);
	overflow: hidden;
	//opacity: 0.95;
}

header { 
	//height: 275px;
	background-position:center;


	img {
		width: 100%;
		max-width: 475px;
	}
}

nav {
	width: 100%;
	display: block;
	position: absolute;
	//background-color: #a6430a;
	top: 70px;
}

nav a {
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	margin: 0px 40px 10px 0px;
}

#container {
	//position: absolute;
	margin-top: 35px;

}


nav a:hover { 
	//color: #fff;
	text-decoration: underline;

}

.item {
	width: 475px;
	height: 475px;
	//float: left;
	//display: inline;
	margin-top: 10px;
	max-width: 475px;
	overflow: hidden;

	img {
		width: 100%;
		float: left;
	}
}

.w2 {
	width: 475px;
	height: 232.5px;
	margin-top: 10px;
	max-width: 475px;

	img {
		width: 100%;
		float: left;
	}
}

.w3 {
	height: 232.5px;
	width: 232.5px;
	margin-top: 10px;

	img {
		width: 100%;
		float: left;
	}
}

.gutter-sizer {
	width: 10px;
}

footer { 
	font-size: .85em; 
	color: #555; 
	padding: 10px 10px 10px 20px;
	//clear: left;
}



.project_title {
	//background-color: rgba (255, 0, 0, 0.9);
	background-color: #000;
	color: #fff;
	opacity: 0.5;
	width: 100%;
	word-wrap: break-word;
	//height: 100px;
	position: absolute;
	margin-top: 100%;
	padding: 12px 0px 0px 20px;

	-webkit-transition: all 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
   	-moz-transition: all 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -ms-transition: all 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
}

h2 {
	font-size: 1em;
	text-transform: uppercase;;
}

h3 {
	color: #fff;
	opacity: 1.0;
	font-weight: normal;
	line-height: 1.3em;
	font-size: 0.9em;
}

p {
	line-height: 3.7em;
	font-style: italic;
}

@media only screen 
and (min-width : 30px)
and (max-width : 475px)
{
@import "medium_screen";
}

